node_modules
.DS_Store
.idea
.eslintcache
.clinerules
.claude
design/.*
lib
dist
coverage
packages/docs/src/.vitepress/dist
packages/docs/src/.vitepress/cache
packages/docs/src/api
generated-docs
importmap.json
*.log
*.swp
*.tgz
*.zip
*~
