:root {
  --vp-c-brand-1: #5da870;
  --vp-c-brand-2: #468c56;
  --vp-c-brand-3: #376e45;
  --vp-code-color: #333;
  /*
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
  */
}

.vp-theme-gradations {
  --a1: #cfe4d3;
  --a2: #a9d0b2;
  --a3: #83bc91;
  --a4: #5da870;
  --a5: #468c56;
  --a6: #376e45;
  --a7: #295135;
  --a8: #1b3524;
}

.dark {
  --vp-code-color: #fff;
}
